In [71]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [72]:
import statsmodels.api as sm
from scipy import stats

In [73]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import cross_val_score

In [74]:
# Set visual display settings
sns.set(style='whitegrid')

<h2>Load dataset from csv</h2>

In [75]:
# load csv
df = pd.read_csv('complete_renewable_energy_dataset 2.csv')

In [76]:
# Get the first few rows of the data
df.head()

,Country,Year,Energy Type,Production (GWh),Installed Capacity (MW),Investments (USD),Population,GDP,Energy Consumption,Energy Exports,...,Economic Freedom Index,Ease of Doing Business,Innovation Index,Number of Research Institutions,Number of Renewable Energy Conferences,Number of Renewable Energy Publications,Energy Sector Workforce,Proportion of Energy from Renewables,Public-Private Partnerships in Energy,Regional Renewable Energy Cooperation
0,USA,2011,Solar,85404.690027,5549.794323,5.604125e+09,1064007213,1.775278e+14,369654.644184,93087.198199,...,49.216800,57.678605,76.803228,851,75,6361,511658,25.907895,1,0
1,Australia,2008,Geothermal,22205.069382,43211.593798,6.361886e+08,1033255852,6.435372e+13,771781.636293,1752.536054,...,79.990942,1.761579,48.697825,590,39,9752,974948,95.003547,0,1
2,Canada,2013,Biomass,94102.732038,6139.117212,6.158680e+09,14895124,1.567926e+14,342707.152899,65146.592498,...,94.374040,77.657334,67.334813,101,7,311,326318,67.354539,1,0
3,Japan,2010,Biomass,88771.932910,40323.639260,8.526116e+09,1448827283,1.350464e+14,498839.574253,50257.591014,...,65.143472,44.987734,4.544289,327,3,7708,506078,33.754104,0,0
4,China,2018,Solar,93288.408581,30755.403056,5.086237e+09,1499494307,8.677956e+13,819064.362785,63101.395562,...,86.213626,62.535223,10.287199,985,69,4919,187964,59.509228,1,0

In [77]:
# df = df.drop_duplicates(inplace=True)
# print(df.isnull().sum())
# data.fillna(method='ffill', inplace=True)  # Forward fill for missing values

df = df.drop_duplicates()

<h4>DataFrame Information</h4>

In [78]:
# DataFrame Info
# 2500 rows & 56 columns
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2500 entries, 0 to 2499
Data columns (total 56 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Country                                  2500 non-null   object
 1   Year                                     2500 non-null   int64
 2   Energy Type                              2500 non-null   object
 3   Production (GWh)                         2500 non-null   float64
 4   Installed Capacity (MW)                  2500 non-null   float64
 5   Investments (USD)                        2500 non-null   float64
 6   Population                               2500 non-null   int64
 7   GDP                                      2500 non-null   float64
 8   Energy Consumption                       2500 non-null   float64
 9   Energy Exports                           2500 non-null   float64
 10  Energy Imports                           2500 non-null   float64
 11  CO2 Emissions                            2500 non-null   float64
 12  Renewable Energy Jobs                    2500 non-null   int64
 13  Government Policies                      2500 non-null   int64
 14  R&D Expenditure                          2500 non-null   float64
 15  Renewable Energy Targets                 2500 non-null   int64
 16  Average Annual Temperature               2500 non-null   float64
 17  Annual Rainfall                          2500 non-null   float64
 18  Solar Irradiance                         2500 non-null   float64
 19  Wind Speed                               2500 non-null   float64
 20  Hydro Potential                          2500 non-null   float64
 21  Geothermal Potential                     2500 non-null   float64
 22  Biomass Availability                     2500 non-null   float64
 23  Energy Storage Capacity                  2500 non-null   float64
 24  Grid Integration Capability              2500 non-null   float64
 25  Electricity Prices                       2500 non-null   float64
 26  Energy Subsidies                         2500 non-null   float64
 27  International Aid for Renewables         2500 non-null   float64
 28  Public Awareness                         2500 non-null   float64
 29  Energy Efficiency Programs               2500 non-null   int64
 30  Urbanization Rate                        2500 non-null   float64
 31  Industrialization Rate                   2500 non-null   float64
 32  Energy Market Liberalization             2500 non-null   int64
 33  Renewable Energy Patents                 2500 non-null   int64
 34  Educational Level                        2500 non-null   float64
 35  Technology Transfer Agreements           2500 non-null   int64
 36  Renewable Energy Education Programs      2500 non-null   int64
 37  Local Manufacturing Capacity             2500 non-null   float64
 38  Import Tariffs on Energy Equipment       2500 non-null   float64
 39  Export Incentives for Energy Equipment   2500 non-null   float64
 40  Natural Disasters                        2500 non-null   int64
 41  Political Stability                      2500 non-null   float64
 42  Corruption Perception Index              2500 non-null   float64
 43  Regulatory Quality                       2500 non-null   float64
 44  Rule of Law                              2500 non-null   float64
 45  Control of Corruption                    2500 non-null   float64
 46  Economic Freedom Index                   2500 non-null   float64
 47  Ease of Doing Business                   2500 non-null   float64
 48  Innovation Index                         2500 non-null   float64
 49  Number of Research Institutions          2500 non-null   int64
 50  Number of Renewable Energy Conferences   2500 non-null   int64
 51  Number of Renewable Energy Publications  2500 non-null   int64
 52  Energy Sector Workforce                  2500 non-null   int64
 53  Proportion of Energy from Renewables     2500 non-null   float64
 54  Public-Private Partnerships in Energy    2500 non-null   int64
 55  Regional Renewable Energy Cooperation    2500 non-null   int64
dtypes: float64(37), int64(17), object(2)
memory usage: 1.1+ MB

<h4>Data Cleaning: Drop duplicate rows</h4>

In [79]:
# data.drop_duplicates(inplace=True)
# print(data.isnull().sum())
# data.fillna(method='ffill', inplace=True)  # Forward fill for missing values
df = df.drop_duplicates()

<h4>List of countries and energy types included in the dataset</h4>

In [80]:
energyTypes = df['Energy Type'].unique().tolist()
energyTypes

['Solar', 'Geothermal', 'Biomass', 'Wind', 'Hydro']

In [81]:
countriesIncluded = df['Country'].unique().tolist()
countriesIncluded

['USA',
 'Australia',
 'Canada',
 'Japan',
 'China',
 'India',
 'Germany',
 'France',
 'Brazil',
 'Russia']

<h4>Socioeconomic factors with highest mean scores</h4>

In [82]:
# collect all numeric columns
numeric_cols = df.select_dtypes(include='number')

# remove Year column
numeric_cols_without_year = numeric_cols.drop(['Year'], axis=1)

# Calculate the mean of all numeric columns
mean_values = numeric_cols_without_year.mean()

# Sort the means in descending order
sorted_means = mean_values.sort_values(ascending=False).head(22)

# Display the sorted means
print("Mean of numeric columns ranked in descending order:")
print(sorted_means)

Mean of numeric columns ranked in descending order:
GDP                                        1.010745e+14
R&D Expenditure                            5.004689e+09
Investments (USD)                          4.956155e+09
Population                                 7.458927e+08
International Aid for Renewables           5.089057e+08
Energy Subsidies                           5.003271e+08
Renewable Energy Jobs                      5.028961e+05
Energy Sector Workforce                    5.020409e+05
Energy Consumption                         4.957012e+05
CO2 Emissions                              4.912184e+05
Energy Imports                             5.080037e+04
Energy Exports                             5.014339e+04
Production (GWh)                           4.874320e+04
Installed Capacity (MW)                    2.488291e+04
Number of Renewable Energy Publications    4.978934e+03
Annual Rainfall                            1.581673e+03
Energy Storage Capacity                    5.150320e+02
Number of Research Institutions            4.966604e+02
Renewable Energy Patents                   4.958036e+02
Solar Irradiance                           2.003756e+02
Export Incentives for Energy Equipment     5.125350e+01
Economic Freedom Index                     5.073672e+01
dtype: float64

<h4>Normalize Dataset</h4>

In [83]:
# Normalize the numeric columns
scaler = StandardScaler()
df_normalized = df.copy()
df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])

/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.72757261  0.65723992 -1.67189421 ...  1.51678102  0.26063798
 -0.70700446]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.88590629  1.5423468   0.29832373 ... -0.25246319 -1.1984064
  0.38838566]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.98255219 -1.01775764  0.98255219 ... -1.01775764 -1.01775764
  0.98255219]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.01045465  1.01045465  1.01045465 ... -0.98965352  1.01045465
 -0.98965352]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.01288298  0.98728088  0.98728088 ... -1.01288298  0.98728088
  0.98728088]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.97316006 -0.97316006 -0.97316006 ...  1.02758019 -0.97316006
 -0.97316006]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.25541629  0.08137975 -0.98514103 ... -1.26229611  1.61450337
  0.42519237]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.0153173  -1.0153173   0.98491378 ... -1.0153173  -1.0153173
  0.98491378]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.98649123  0.98649123  0.98649123 ...  0.98649123  0.98649123
 -1.01369375]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-1.02758019  0.97316006 -1.02758019 ...  0.97316006 -1.02758019
  0.97316006]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 1.19660098  0.31520682 -1.33614088 ...  0.35573069  0.07881758
 -0.84985444]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.85097387 -0.39593519 -1.5042988  ... -0.04957156 -0.15348065
 -1.12329881]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.47965831  1.6565347  -1.62004744 ... -0.50112986 -1.64156509
 -1.59297685]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.03281998  1.61387415 -0.59968359 ...  0.11587746 -1.64053316
 -0.03064878]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[ 0.97628121 -1.02429504  0.97628121 ... -1.02429504  0.97628121
 -1.02429504]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])
/var/folders/t8/kz2v06bs11bf32v6h9jcln_m0000gn/T/ipykernel_784/1188026793.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '[-0.94852309  1.05427059 -0.94852309 ...  1.05427059 -0.94852309
 -0.94852309]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df_normalized.iloc[:, 3:] = scaler.fit_transform(df_normalized.iloc[:, 3:])

<h4>Descriptive Statistics of Renewable Energy Jobs Column</h4>

In [68]:
# Group by 'Country' and describe the 'Renewable Energy Jobs'
descriptionByCountry = df.groupby('Country')['Renewable Energy Jobs'].describe(percentiles=[.25, .5, .75])

# Sort by mean in descending order
sortedByCountry = descriptionByCountry.sort_values(by='mean', ascending=False)

sortedByCountry

,count,mean,std,min,25%,50%,75%,max
Country,,,,,,,,
Brazil,244.0,523577.762295,288246.126218,5188.0,302472.75,511802.5,782022.75,998387.0
Australia,245.0,518076.065306,292766.553442,1641.0,255363.00,518296.0,771078.00,999456.0
Canada,234.0,515523.662393,271889.403224,3191.0,277420.50,529146.0,745679.25,995378.0
Japan,249.0,507847.586345,290822.678110,7470.0,264050.00,481232.0,774359.00,993024.0
China,262.0,501456.041985,291023.710296,4674.0,229083.75,493253.0,742584.50,999319.0
Germany,241.0,499940.705394,286647.450263,6389.0,268866.00,469219.0,779664.00,991498.0
USA,235.0,498057.714894,292372.329844,1694.0,238173.00,501933.0,742513.50,998044.0
Russia,245.0,495688.261224,297489.368648,3463.0,246940.00,476523.0,763479.00,999562.0
France,296.0,486579.246622,283601.443729,1320.0,244822.50,484186.5,722560.25,997429.0
India,249.0,486305.927711,274271.325621,2718.0,247235.00,455352.0,719163.00,991752.0

In [69]:
# Group by 'Year' and describe the 'Renewable Energy Jobs'
descriptionByYear = df.groupby('Year')['Renewable Energy Jobs'].describe(percentiles=[.25, .5, .75])

# Sort by mean in descending order
sortedByYear = descriptionByYear.sort_values(by='mean', ascending=False)

sortedByYear

,count,mean,std,min,25%,50%,75%,max
Year,,,,,,,,
2021,101.0,559596.930693,268512.045285,12733.0,353560.00,568404.0,777569.00,991252.0
2006,119.0,541980.588235,256492.937724,33161.0,364632.00,535864.0,734299.50,982282.0
2002,113.0,530687.318584,301400.561458,1320.0,257407.00,539338.0,795601.00,998387.0
2023,110.0,522263.418182,272137.897508,1641.0,295195.50,499783.0,772739.00,980158.0
2010,130.0,519524.407692,307078.308860,9873.0,277765.50,492373.0,808156.75,993072.0
2016,124.0,519341.685484,293028.504939,7470.0,291643.50,503323.0,770658.00,986338.0
2014,121.0,517078.942149,293888.554644,2718.0,241186.00,510179.0,778597.00,993024.0
2015,88.0,516313.636364,284993.490208,29336.0,280665.25,537173.0,734862.00,999319.0
2001,109.0,515246.614679,292975.761790,8052.0,256042.00,528148.0,785839.00,994319.0
2020,97.0,511842.412371,312604.687595,6378.0,212980.00,550007.0,810742.00,965246.0
2012,81.0,510080.913580,284460.149495,21173.0,275580.00,514485.0,748241.00,965166.0
2017,86.0,504654.848837,280960.874635,41320.0,300140.25,490566.0,727656.50,999456.0
2008,117.0,504322.863248,275395.026372,9727.0,277278.00,516290.0,712417.00,994266.0
2000,91.0,502604.637363,290567.633402,9517.0,226672.00,494841.0,731088.50,993629.0
2003,102.0,499667.637255,293555.992663,4674.0,232929.25,511377.5,777888.75,989137.0
2019,99.0,494735.030303,301136.750688,48821.0,246783.50,453372.0,775925.50,995378.0
2007,119.0,488729.495798,265640.735016,8679.0,254269.00,477609.0,710203.00,990881.0
2018,120.0,488661.900000,293112.188997,18578.0,231286.00,450690.5,744020.75,994832.0
2022,98.0,483563.469388,270229.736540,12868.0,271563.75,541348.0,676059.25,996590.0
2005,88.0,480949.306818,277726.379377,9988.0,255748.25,471457.5,688379.75,986052.0
2009,89.0,464486.089888,281119.033821,3463.0,236994.00,438722.0,682351.00,998044.0
2013,83.0,463562.168675,300198.731759,6494.0,205160.00,433967.0,724253.50,997429.0
2004,105.0,454856.704762,291087.760207,8151.0,215557.00,417499.0,721335.00,999562.0
2011,110.0,450626.263636,288469.125843,6389.0,203424.25,400628.0,700094.00,986333.0